/* Universal Styling */
* {
  box-sizing: border-box;
}

/* Native CSS Variables */

/* :root {} */

/* Header Styling */

header {
  background-color: var(--background-color);
  font-family: var(--font-header-footer), sans-serif;
  font-weight: var(--font-weight-text);
  font-size: 16px;
  line-height: 1.6;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 2px groove var(--background-color-darker);
  margin-bottom: 10px;
}

/* Body Styling */

body {
  background-color: var(--background-color);
  font-family: var(--font-body), sans-serif;
  font-weight: var(--font-weight-text);
  font-size: 16px;
  line-height: 1.6;
}

.ski-resort{
  border: 1px green solid;
}
/* Grid Styling */

/* Link Styling */

/* Button Styling */

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--button-color-primary);
  color: var(--button-text-color-primary);
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.9s linear;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a crosshair when hovering over the button */
  cursor: crosshair;

  /* reduces the opacity of the button to 50% */
  opacity: 0.5;
}

/* div Class Styling */

/* img Class Styling */

/* Footer Styling */


/* Table Styling */


/* Responsive Design */
