/* Universal Styling */
* {
  box-sizing: border-box;
}

/* Native CSS Variables */
  /* :root {} */

/* Header Styling */

header {
  background-color: var(--background-color);
  font-family: 'Nunito', sans-serif;
  font-weight: var(--font-weight-text);
  font-size: 16px;
  line-height: 1.6;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 2px groove var(--background-color-darker);
  margin-bottom: 10px;
}

/* Body Styling */
body{
  background-color: #c2cfcf;
}
  


h1{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
}

.quake-list{
  list-style: inside;
}
/* Grid Styling */

/* Link Styling */

/* Button Styling */
button,
.button{
  background-color: #7a9192;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10px;
}
/* div Class Styling */

/* img Class Styling */

/* Footer Styling */

/* Table Styling */

/* Responsive Design */
@media all and (max-width: 750px) {
   h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  h1{
    font-size: 20px;
  }
}
@media all and (max-width: 500px) {
    h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 12px;
  }
}