/* Universal Styling */
* {
  box-sizing: border-box;
}

/* Native CSS Variables */
  /* :root {} */

/* Header Styling */

header {
  display: flex;
  background-color: var(--background-color);
  font-family: 'Nunito', sans-serif;
  /* font-size: 16px; */
  line-height: 1.6;
  text-align: center;
}

.page-header {
  clear: both;
  display: flex;
  /* font-weight: bold; */
}

/* Body Styling */
body{
  /* background-color: #639C97; */
  background-color: #B1A688;
  padding: 25px;
}

h1{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  text-align: center; 
}

h2{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  text-align: center; 
}

.quake-list{
  list-style: inside;
}
/* Grid Styling */

/* Link Styling */

/* Button Styling */
button,
.button{
  background-color: #8893B1;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10px;
}
/* div Class Styling */

/* img Class Styling */

/* Footer Styling */

/* Table Styling */

/* Responsive Design */
@media all and (max-width: 750px) {
   h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  h1{
    font-size: 20px;
  }
}
@media all and (max-width: 500px) {
    h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 12px;
  }
}


#modal-container {
  display: none;
}

#modal-container.is-visible{
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;

  display: block;
}



.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}
